
body{
  background-color:#9497A7;
}
*{box-sizing: border-box;}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:100px;
}

.div2{
  height: 500px;
  width: 700px;
  background-color: #F1CFCD;
}

.div1{
  height: 700px;
  width: 500px;
  background-color: #545871;
}

.div3{
  height: 200px;
  width: 700px;
  background-color: white;
}